@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<<<<<<< HEAD
<p>Use this page to detail your site's privacy policy this change was make on the branch test1 add  branch otherTest.</p>
=======

>>>>>>> otherTest
